 @import "normalize";
 
 
 html {
    font-family: 'Common Pixel', sans-serif;
    background-image: url('background.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  

.name {
  color: black;
  border: 5px ;
  border-style: double;
  font-size: xx-large;
  margin-top: 0;
  position: absolute;
  width: 99.5%;
  text-align: center;
  background-color: #D7AC7B;
  opacity: 0.5;

}

.begin-btn {
  display: flex;
  background-color: #D7AC7B;
  color: black;
  height: 25vh;
  font-size: 10rem;
  cursor: pointer;
  position: absolute;
  margin-top: 69vh;
  margin-left: 30%;
  opacity: 0.7;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
}

@media (min-width: 768px) {
  .begin-btn {
    padding: 0.25em 0.75em;
  }
}

.hero-text {
  /*
  background-image: url('gif.gif');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 10vh;
  font-size: 11rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 10vh;
  overflow: hidden;  
  border-right: .15em solid orange; 
  white-space: nowrap; 
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange; }
    }*/
    
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange; }
    }
}

footer {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CFB997;
  color: white;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10rem;
  width: 100%;
  color: black;
  
}

/*
.op1, .op2, .op3, .op4 {
  align-items: center;
  padding: 10rem 5rem 5rem 5rem;  
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: absolute;
  color: black;
  border: none;
  width: 27%;
  height: 35vh;
  font-size: 5rem;
  cursor: pointer;
  opacity: 0.7;


  &:hover {
      background-color: #473334;
      color: #D7AC7B;
  }
}
*/




@media screen and (max-width:600px)
  {
    html {
      font-family: 'Common Pixel', sans-serif;
      background-image: url('background.jpg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
    }


    .name {
      color: black;
      border: 5px ;
      border-style: double;
      font-size: 1.5rem;
      margin-top: 0;
      position: fixed;
      width: 100%;
      text-align: center;
      background-color: #D7AC7B;
      opacity: 0.5;
  
  }


    .begin-btn {
      background-color: #D7AC7B;
      color: black;
      border: none;
      width: 100%;
      height: 50vh;
      font-size: 6rem;
      position: absolute;
      margin-top: 25vh;
      z-index: 2;
      opacity: 0.7;
    
      &:hover {
          background-color: #473334;
          color: #D7AC7B;
      }
    }
  }

@media screen and (max-width:1200px)
  {
    html {
     
      font-family: 'Common Pixel', sans-serif;
      background-image: url('background.jpg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
    }

    .name {
      color: black;
      border: 5px ;
      border-style: double;
      font-size: 2rem;
      margin-top: 0;
      position: fixed;
      width: 100%;
      text-align: center;
      background-color: #D7AC7B;
      opacity: 0.5;
  
  }

    .begin-btn {
      background-color: #D7AC7B;
      color: black;
      border: none;
      width: 100%;
      height: 50vh;
      font-size: 6rem;
      position: absolute;
      margin-top: 25vh;
      z-index: 2;
      opacity: 0.7;
    
      &:hover {
          background-color: #473334;
          color: #D7AC7B;
      }
    }
  }
  
  