@import "normalize";

body{
    background: rgb(71,51,52);
    background: radial-gradient(circle, rgba(71,51,52,1) 8%, rgba(215,172,123,1) 91%);
    font-family: 'Common Pixel', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.name{
    color: black;
    width: 100%;
    text-align: center;
    border: 5px ;
    border-style: double;
    margin-top: 0;
    background-color: #D7AC7B;
    opacity: 0.5;
  
    h1{
        margin: 0;
        font-size: xx-large;
    }
}

.info{
    border: 0.5rem;
    border-style: solid;
    width: 90%;
    height: 90%;
}

